<div class="parallax-container">
  <div class="parallax">
    <img src="<%= image_url("bg.jpg")%>">
  </div>
</div>
<div class="section white">
  <div class="row container">
    <h2 class="header">分享我所热爱的，记录此时此刻</h2>
    <div class="col offset-s4"><%= link_to '从此开始',{:controller => 'welcome',:action => 'list'},:class => 'btn-large waves-effect waves-teal' %></div>
  </div>
</div>
<div class="parallax-container">
  <div class="parallax"><img src="<%= image_url("bg.jpg")%>"></div>
</div>