
<div class="container">
  <div class="row">
    <div class="col s12">
      <label id="baidu_hint" class="red-text">首先</label>
    </div>
    <div class="col s12">
      <label id="baidu_hint1" class="red-text">打开百度</label>
    </div>
    <div class="col s12">
      <label id="baidu_hint2" class="blue-text">然后输入</label>
    </div>
    <div class="col s12">
      <label id="word" class="red-text"><%= @hint %></label>
    </div>
    <div class="col s12">
      <label id="baidu_hint3" class="red-text">点击</label>
    </div>
    <div class="col s12">
      <label id="baidu_hint4" style="background-color: #1E88E5;color: white;margin: 150px">百度一下</label>
    </div>
  </div>
</div>